.screen {
    color:whitesmoke; 
}
.header {
    background-color: darkslategray;
    text-align: center;
}
.title {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}
.main-content {
    height:max-content;
}
.remote-video-section {
    display: none;
}
.remote-video {
    height:300px;
}
.search-result-section {
    display: none;
}
.user-button {
    border: none;
}
.users-list {
    list-style:none;
    display: flex;
    flex-direction: column;
}
.user-block {
    margin: 10px;
}
.user-data {
    display: flex;
    flex-direction: row;
    border: white;
    border-radius: 80px;
    border-style: solid;
    background-color: darkslategrey;
    color: snow;
    font-size: 14px;
    align-items: center;
    width: 180px;
}
.user-image {
    max-width: 40px;
    max-height: 40px;
    border-radius: 40px;
    margin-right: 10px; 
}
.logo-section {
    height:fit-content;
}
.footer {
    display: flex;
    flex-direction: row;
    background-color: steelblue;
    font-size: 14px;
}
.date-time-temp {
    display: flex;
    width: 25%;
}
.logo {
    max-height: 80%;
}