.body {
    margin: 0;
    overflow-y: hidden;
}
*{
    box-sizing: border-box;
}
.screen {
    color:whitesmoke; 
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header {
    background-color: #2a3136;
    text-align: center;
    height: 10%;
}
.title {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}
.main-content {
    flex: 1;
    flex-direction: column;
    display: flex;
}
.remote-video-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}
.remote-video {
    height: -webkit-fill-availale;
    flex: 1;
}
.large-avatar {
    display: flex;
    border-radius: 250px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.calling-legend {
    display: flex;
    color: brown;
    font-size: 26px;
}
.blinking{
	animation:blinkingText 0.8s infinite;
}
@keyframes blinkingText{
	0%{		color: #000;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	99%{	color:transparent;	}
	100%{	color: #000;	}
}
.search-users-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.search-results {
    flex-grow: 1;
    min-height: 60%;
}
.user-button {
    border: none;
}
.users-list {
    list-style:none;
    display: flex;
    flex-direction: row;
    padding-left:  5px;
    margin-top: 0;
    margin-bottom: 0;
    flex-wrap: wrap;
}
.column-wrapper {
    display: flex;
    flex-direction: column;
}
.user-block {
    margin: 1px;
}
.user-data {
    display: flex;
    flex-direction: row;
    border: white;
    border-radius: 80px;
    border-style: solid;
    background-color: #8cc636;
    color: snow;
    font-size: 14px;
    align-items: center;
    width: 180px;
}
.user-image {
    max-width: 40px;
    max-height: 40px;
    border-radius: 40px;
    margin-right: 10px; 
}
.logo-section {
    height:auto;
}
.footer {
    display: flex;
    flex-direction: row;
    background-color: #2a3136;
    font-size: 14px;
    height: 8%;
    align-items: center;
}
.date-time-temp {
    display: flex;
    width: 25%;
}
.date-time-temp-data {
    margin-left: 5px;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.search-string-wrapper {
    text-align: center;
}
.search-string {
    align-self: center;
    font-size: 20px;
    color: black;
}
.keyboard {
    display: flex;
    flex-direction: column;
    min-height: 30%;
    align-items: center;
    border-color: black;
    margin: 1px;
}
.keys-line {
    display: flex;
    flex-direction: row;
    padding-top: 2px; 
}
.key {
    border-color: black;
    border-radius: 2px;
    background-color: transparent;
    color: black;
    font-size: 18px;
    padding: 2px 2px 2px 2px;
    min-width: 40px;
    margin-right: 2px;
}
.key:hover {
    background-color: grey;    
}